:root {
  /* Neutral Colors */
  --color-white: hsl(0, 0%, 98%);
  --color-neutral-lightest: hsl(0, 0%, 95%);
  --color-neutral-lighter: hsl(0, 0%, 85%);
  --color-neutral-light: hsl(0, 0%, 75%);
  --color-neutral: hsl(0, 0%, 50%);
  --color-neutral-dark: hsl(0, 0%, 25%);
  --color-neutral-darker: hsl(0, 0%, 15%);
  --color-neutral-darkest: hsl(0, 0%, 5%);
  --color-black: hsl(0, 0%, 2%);

  /* Brand Colors */
  --color-primary: hsl(243, 75%, 59%);
  --color-secondary: hsl(218, 75%, 59%);
  --color-accent: hsl(19, 80%, 48%);

  /* Utility Colors */
  --color-success: hsl(120, 100%, 50%);
  --color-info: hsl(204, 100%, 50%);
  --color-warning: hsl(40, 100%, 50%);
  --color-danger: hsl(0, 100%, 50%);
  --color-muted: var(--color-neutral-darkest);

  --active-state-color: var(--color-accent);
  --disabled-state-color: var(--color-muted);
  --focus-state-color: var(--color-accent);
  --hover-state-color: var(--color-primary);

  --color-background: var(--color-white);
  --color-text: var(--color-black);

  /* Typography */
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;

  --font-family-body: var(--font-sans);
  --font-family-heading: var(--font-sans);
  --font-family-subheading: var(--font-family-heading);

  /* Font Sizes */
  --font-size-5xl: 9.375rem;
  --font-size-4xl: 6.25rem;
  --font-size-3xl: 3.5rem;
  --font-size-2xl: 2rem;
  --font-size-xl: 1.75rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;

  --text-smallest: var(--font-size-xs);
  --text-small: var(--font-size-sm);
  --text-body: var(--font-size-base);
  --text-subheading: var(--font-size-2xl);
  --text-heading: var(--font-size-4xl);
  --text-heading-large: var(--font-size-5xl);

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  --text-body--font-weight: var(--font-weight-normal);
  --text-subheading--font-weight: var(--font-weight-semibold);
  --text-heading--font-weight: var(--font-weight-medium);
  --text-heading-large--font-weight: var(--font-weight-normal);

  /* Line height */
  --text-body--line-height: 1.6em;
  --text-large--line-height: 1.25em;
  --text-extra-large--line-height: 1em;

  /* Letter spacing */
  --letter-spacing-tight: -0.015em;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.015em;

  /* Forms */
  /* Inputs */
  /* Buttons */

  /* Utilities */
  /* Spacing */
  /* Layout */
  /* Shadows */
  /* Container */
  --radius-md: 0.375rem;

  [data-theme="dark"] {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
    --color-muted: var(--color-neutral-lightest);
  }
}
